<div class="container">
  <h2>Loan Registry</h2>
  <button class="home-button" (click)="goToUserHome()">Torna a la pàgina d'usuari</button>
  <table>
    <thead>
      <tr>
        <th>Videojoc</th>
        <th>Data de préstec</th>
        <th>Data de devolució</th>
        <th>Accions</th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let loan of loans">    
    <td>{{loan.Nom_Videojoc}}</td>
    <td>{{loan.Data_inici | date:'dd/MM/yyyy'}}</td>
    <td>{{loan.Data_fi ? (loan.Data_fi | date:'dd/MM/yyyy') : '-'}}</td>
    <td>
      <button class="returnVideogame" (click)="returnVideogame(loan.Codi)">Retorna</button>
      <button (click)="editLoanDays(loan.Codi)">Edita Dies</button>

    </td>
  </tr>
</tbody>
  </table>
</div>